
@{
    ViewBag.Title = "DatumVremeFormat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pogresno unesen datum i vreme. Datum i vreme moraju biti u formatu dd/mm/yyyy SS:mm:ss- 01/01/2022 18:00:00</h2>

