
@{
    ViewBag.Title = "ZabranjenoBrisanjePosecenogGrupnogTreninga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red;">Zabranjeno je brisanje grupnih treninga koji imaju posetioce</h2>

