
@{
    ViewBag.Title = "ZabranjenoBrisanjeFitnesCentraGrupniTrening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red;">Zabranjeno je brisanje Fitnes Centra u kom ima buducih grupnih treninga</h2>

