
@{
    ViewBag.Title = "UspesnoKreiranTrener";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="color:red;">Uspesno kreiran trener.</h2>
@Html.ActionLink("Treneri tabela", "TreneriTabela")


